<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>



  <script src="/assets/gmaps4rails/gmaps4rails.base.js.coffee"></script>
  <script src="/assets/gmaps4rails/gmaps4rails.bing.js.coffee"></script>
  <script src="/assets/gmaps4rails/gmaps4rails.googlemaps.js.coffee"></script>
  <script src="/assets/gmaps4rails/gmaps4rails.mapquest.js.coffee"></script>
  <script src="/assets/gmaps4rails/gmaps4rails.openlayers.js.coffee"></script>