<div class="row-fluid">
  <div class="span12 box bordered-box purple-border">
    <div class="box-header purple-background">
      <div class="title">
        <i class="icon-pencil"></i>
        <%= controller.action_name %> <%= controller_name %>
      </div>
      <div class="actions">

        <a class="btn box-collapse btn-mini btn-link" href="#"><i></i>
        </a>
      </div>   
    </div>
    <div class="box-content">


      <%= render 'form' %>
      <%= render "layouts/action_links" %>
    </div>
  </div>
</div>