
  <div class="row-fluid">
    <div class="span12 box">
      <div class="box-content">
        <h4 class="text-contrast"> <%= t'.description' %></h4>
        <p><%= @township.description %></p>
      </div>
    </div>
  </div>
  <%= render "layouts/action_links" %>