<% if flash[:notice] %>
  <div class='alert alert-info'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    <div>
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class='alert alert-block'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    <div>
      <%= flash[:alert] %>
    </div>
  </div>
<% end %>

<% if flash[:success] %>
  <div class='alert alert-success'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    <div>
      <%= flash[:success] %>
    </div>
  </div>
<% end %>
<% if flash[:error] %>
  <div class='alert alert-error'>
    <a class='close' data-dismiss='alert' href='#'>&times;</a>
    <div>
      <%= flash[:error] %>
    </div>
  </div>
<% end %>